@use '../theme' as *;
@use '../utilities/radius';


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-gap: 3em;
  margin-inline: auto;
  padding: 2.4rem;
}

.card {
  @extend .radius;
  box-shadow: $shadow-light;
  overflow: hidden;
}

.card-image {


  &>img {
    inline-size: 100%;
    //object-fit: cover;
    //object-position: center;
    aspect-ratio: 2/1.2;
    border-start-start-radius: 0.5rem;
    border-start-end-radius: 0.5rem;
  }
}


.card-content {
  margin-block: 2rem;
  block-size: 50%;
}