@use '../utilities/radius' as *;
@use '../theme' as *;
@use '../theme_utils' as *;

.dropdown {
  display: inline-block;
  inline-size: 15rem;
  max-inline-size: 15rem;
  position: relative;
  background: $bg-primary-light;

  .dropdown-header {
    @extend .radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: $size-400;
    padding-inline: 1.5rem;
    inline-size: 100%;
    margin-block-end: 0.5rem;
    border: 0;
    background: inherit;
    box-shadow: $shadow-light;
    cursor: pointer;

    & svg {
      vertical-align: middle;
      margin-inline-start: 3.5rem;
    }
  }
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: 1rem;
  background: inherit;
  position: absolute;
  @extend .radius;
  box-shadow: $shadow-light;

  &::before,
  &::after {
    content: '';
    padding-block: 0.6rem;
  }

  & li {
    inline-size: 100%;
    text-align: left;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    background: inherit;
    cursor: pointer;
    margin-block: 0.1rem;


    &:hover {
      background: $color-light-fade;
    }
  }
}