@use '../utilities/radius' as *;
@use '../theme' as *;
@use '../theme_utils' as *;

.search-box {
  @extend .radius;

  background: $bg-primary-light;
  color: $color-secondary-light;
  inline-size: 27rem;
  max-inline-size: 100%;
  padding-inline: 2rem;
  padding-block: $size-400;
  box-shadow: $shadow-light;

  & button {
    background: inherit;
    border: 0;
    margin-inline-end: 1rem;


    &>svg {
      fill: $color-secondary-light;
      vertical-align: middle;
    }
  }


  & input {
    display: inline-block;
    inline-size: 75%;
    border: 0;
    appearance: none;
    color: inherit;
    background: inherit;
  }

}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}