@use '../theme' as *;

.site-head {
  padding: 0.8rem 0;
  //border: 1px solid red;
  //background: rgb(0, 4, 255);
  box-shadow: $shadow-light;

  &__inner {
    display: flex;
    //flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem;
  }

  @media (min-width: $breakpoints-md) {
    &__inner {
      padding-block: 0.5rem;
    }
  }

  // Right margin prevents any collisions with the title
  h1 {
    margin: 0.5rem 1rem 0.5rem 0;
  }



}