@use 'scss/reset' as *;
@use 'scss/theme' as *;
@use 'scss/theme_utils' as *;
@use 'scss/blocks/button' as *;
@use 'scss/blocks/key-header' as *;
@use 'scss/blocks/site-head' as *;
@use 'scss/blocks/search-box' as *;
@use 'scss/blocks/dropdown' as *;
@use 'scss/blocks/search-filter' as *;
@use 'scss/blocks/card' as *;
@use 'scss/utilities/wrapper' as *;
@use 'scss/utilities/splitter' as *;
@use 'scss/utilities/flow' as *;
@use 'scss/utilities/flex' as *;



// Global CSS starts
html {
  //font-size: clamp(1rem, 0.75rem + 1.25vw, 2rem);
  //font-size: 1.2rem;
}

body {
  line-height: 1.5;
  overflow-x: hidden;
  padding-block-end: 1.77rem;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

// h1 {
//   font-size: 2.4rem
// }

// h2,
// h3 {
//   font-size: 1.77rem;
// }

a {
  color: currentColor;
}

table {
  border-collapse: collapse;
}

th {
  text-align: left;
}

// :focus {
//   outline: 2px dotted;
//   outline-offset: 0.25rem;
// }


.ionicon {
  width: 1.2rem;
  height: 1.2rem;
}

#root {
  min-block-size: 100%;
}

:root {
  background: $bg-primary-light;
  color: $color-primary-light;
}