/* ------------ *\
  #Colors
\* ------------ */

// Dark Theme
$bg-primary-dark: hsl(207, 26%, 17%);
$color-primary-dark: hsl(0, 0%, 100%);
$color-secondary-dark: hsl(209, 23%, 22%);


// Light Theme
$bg-primary-light: hsl(0, 0%, 98%);
$color-primary-light: hsl(200, 15%, 8%);
$color-secondary-light: hsl(0, 0%, 52%);
/* ------------ *\
  #Spacing
\* ------------ */

$size-300: 0.875rem;
$size-400: 1rem;
$size-500: 1.33rem;
$size-600: 1.77rem;
$size-700: 2.4rem;

/* ------------ *\
  #MQ
\* ------------ */

$breakpoints-md: 48em;

/* ------------ *\
  #Fonts
\* ------------ */


$weight-small: 300;
$weight-semibold: 600;
$weight-bold: 800;

$font-base: 'Nunito Sans', sans-serif;



/* ------------ *\
  #Box shadows
\* ------------ */
$shadow-light: hsla(0, 0%, 52%, 0.4) 0px 7px 29px 0px;
$shadow-dark: hsla(209, 23%, 22%, 0.4) 0px 7px 29px 0px;